*{
    box-sizing: border-box;
}
body{
    background-color: #4c6ac0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#333;
}

.form{
    max-width: 350px;
    background-color: #f4f4f4;
    margin:auto;
    line-height: 1.2em;
    margin-top: 50px;
    }

.form p{
    margin-bottom: 0;
}
.form form{
    padding: 20px;
}
input{
    width:100%;
    padding:5px;
}

h1{
    text-align: center;
    margin:0;
    padding-top: 30px;
}
p{
    text-align: center;
}
.btn{
    width:100%;
    padding:5px;
    border: none;
    border-radius: 5px;
    background-color:#49c1a2;
    color:#fff;
    cursor: pointer;
}
a{
    text-decoration: none;
}
.login p{
    color:#f4f4f4;
}
.login p a{
    color: aquamarine;
}
.form .form-group label,
.form .form-group input{
    display: block;
}

.form-group{
    padding-bottom: 10px;
}
.btn:hover{
    background-color:#37a08e;
}
.terms{
    font-size: .8em;
}

